[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
tensorflow = "*"
altair = {extras = ["all"], version = "*"}
pipreqs = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.15"
